<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/aa.jpg" class="portrait" alt="Me">
        <p class="about">Hey! I am Aman and I am learning development. This is my first project on NodeJS.</p>
        <p class="about">This website is created during my NodeJS learning process. It works with the help of <a href="https://www.mapbox.com/">Mapbox</a> and <a href="https://weatherstack.com/">WeatherStack</a> APIs. </p>
    </div>
    {{>footer}}
</body>
</html>